<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FBTestSuite" verbose="10">
  <test name = "FB Title Testing" thread-count="5" >
    <classes>
      <class name="com.testNg.FBTestVerbose"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
